body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
header {
    display: flex;
    padding-top: 10px;
}
.main-menu {
    flex-grow: 1;
}
.main-menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.main-menu-list a {
    font-size: 30px;
    line-height: 41px;
    color: #2a3d8f
}
.main-menu-list a:hover {
    color: #3893cc;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
}
.hashtag {
    margin: 0;
    padding: 0;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
}
.footer-social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.copyright {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.footer-wrapper {
    background-color: #b5d4c5;
}
.slogan {
    height: 558px;
    background-image: url(img/innsbruck1.png);
    background-color: #dbe8f7;
    background-size: cover;
    background-repeat: no-repeat;
}
.slogan h1 {
    margin: 0;
    padding-top: 180px;
    font-size: 60px;
    line-height: 82px;
    color: #fff;
}
h2 {
    color: #2a3d8f;
    font-size: 36px;
    line-height: 49px; 
}
h3 {
    font-size: 30px;
    line-height: 41px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.about-numbers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
}
.about-numbers-list li::before {
    content: "✓";
    margin-right: 5px;
}
.marketing {
    display: flex;
    flex-direction: column;
    background-image: url(img/skier.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    width: 30%;
}
.marketing p {
    margin: 0;
    padding: 5px;
    font-size: 1.5vw;
    line-height: 33px;
    text-transform: uppercase;
}
.marketing a {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 60px;
    padding: 5px 10px;
    background-color: #fff;
    opacity: 0.7;
    color: #000;
    align-self: flex-end;
}
.about-weather-graph {
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.about-weather-graph figcaption {
    font-size: 22px;
    line-height: 33px;
    background-color: rgb(124, 124, 124);
    color: #fff;
    padding: 5px;
    text-align: center;
}
.gallery-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.gallery-item {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
    min-height: 256px;
    text-align: center;
    color: #fff;
    background-color: #b4d4c5;
}
.gallery-item h3 {
    text-transform: uppercase;
    padding: 45px 59px 60px;
    width: 400px;
}
.transfer td, .transfer th {
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
}
.transfer {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
}
.transfer thead {
    background-color: rgb(32, 46, 92);
    color: #fff;
}
